In [1]:
import pandas as pd

<font color = "blue">
## extract the data set from raw txt file

In [2]:
#data = pd.read_table('mxm_lyrics_raw_data/mxm_dataset_train.txt', skiprows=18, header = None)
data = pd.read_table('mxm_lyrics_raw_data/mxm_dataset_test.txt', skiprows=18, header = None)

In [3]:
data.head()

                                                   0
0  TRAABRX12903CC4816,1548880,2:19,4:7,5:6,10:1,1...
1  TRAADFO128F92E1E91,5325944,1:79,2:66,3:15,4:7,...
2  TRAADQW128F427CE68,3811449,1:3,2:3,3:2,7:4,8:1...
3  TRAADRX12903D0EFE8,5583484,1:1,6:5,7:1,10:1,41...
4  TRAAEJQ128F92C484E,9124657,1:28,2:7,3:12,4:3,5...

In [4]:
len(data)

27143

<font color = "blue">
##### read in data and strip it into lists

In [5]:
#with open('mxm_lyrics_raw_data/mxm_dataset_train.txt') as f:
with open('mxm_lyrics_raw_data/mxm_dataset_test.txt') as f:
    content = f.readlines()
content = [x.strip() for x in content] 
#git rid of the first 17 lines of comments + 1 line of word bank
content1 = content[18:]
data = [content1[i].split(',') for i in range(len(content1))]

<font color = "blue">
##### create a list of list to store all 5002 columns of data info

In [7]:
df = [[0 for i in range(5002)]for j in range(len(data))]

<font color = "blue">
##### read in the each words and its corresponding word count in each song from data

In [8]:
for j in range(len(data)):
    if j %10000 == 0:
        print j
    df[j][0] = data[j][0]
    df[j][1] = data[j][1]
    for i in range(2,len(data[j])):
        list1 = data[j][i].split(':')
        df[j][int(list1[0])+1] = int(list1[1])

0
10000
20000

<font color = "blue">
##### write into a csv file for future use

In [9]:
import csv
#csvfile = open('train_no_tag.csv', 'wb')
csvfile = open('test_no_tag.csv', 'wb')
csvwriter = csv.writer(csvfile)
j = 0
for item in df:
    j = j+1
    if j %10000 == 0:
        print j
    csvwriter.writerow(item)
csvfile.close()

10000
20000

<font color = "blue">
##### read in to make sure store correctly

In [10]:
#t = pd.read_csv("test_no_tag.csv",header = -1)
t = pd.read_csv("test_no_tag.csv",header = -1)

In [11]:
t.head()

,0,1,2,3,4,5,6,7,8,9,...,4992,4993,4994,4995,4996,4997,4998,4999,5000,5001
0,TRAABRX12903CC4816,1548880,0,19,0,7,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,TRAADFO128F92E1E91,5325944,79,66,15,7,8,9,5,5,...,0,0,0,0,0,0,0,0,0,0
2,TRAADQW128F427CE68,3811449,3,3,2,0,0,0,4,1,...,0,0,0,0,0,0,0,0,0,0
3,TRAADRX12903D0EFE8,5583484,1,0,0,0,0,5,1,0,...,0,0,0,0,0,0,0,0,0,0
4,TRAAEJQ128F92C484E,9124657,28,7,12,3,4,3,1,11,...,0,0,0,0,0,0,0,0,0,0